#about {
    padding: 50px;
    /* background-image: linear-gradient(rgb(92, 7, 63),PURPLE,rgb(65, 6, 65),rgb(136, 6, 86),PURPLE,rgb(235, 0, 235)); */
    background-image: linear-gradient(rgb(247, 231, 230),black,rgb(228, 201, 201));
    color:white;
}

#about h2 {
    font-size: 2em;
}

#about p {
    font-size: 1.2em;
    line-height: 1.6;
}

#about:hover{
  
  
    font-size:20PX;
}